input,i{
    margin-bottom: 10px;
}

body{
    font-family: 'Quicksand', sans-serif;
}

textarea{
    resize:none;
}

.azul{
    background-color:  #d5efee;
}

#fundo, #cardbody{
    background-color:#d5efee;    
}	 

#button, #Formato, #Ori, #bold , #cardheader{
    font-weight: bold;
    background-color: #76b5c5;
    color:white;
}

#opcoes{
    font-size: 15px;
}
#cardfooter{
    background-color:white ;
}

.escuro{
    background-color:#4c9baf;
    font-weight: bold;
    color:white;
}

.medio{
    background-color:#6ea6b4;
    font-weight: bold;
    color:white;
}

.claro{
    background-color:#81bac9;
    font-weight: bold;
    color:white;
}

.logoff{
    font-size: 30px;
    position: fixed;
    right:0;
    cursor: pointer;
    margin-right: 30px;
    margin-top: 20px;
}